{% extends './base/navbar.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container d-flex justify-content-center ">
        <div class="row w-50 align-middle">
            <div class="title d-flex justify-content-center">
                <h1>Services</h1>
            </div>

            <p w-50>
                We put out the most delicious rich quality cakes, cheesecakes, pastries, muffins, breads, cookies, and bagels for you to relish on. We offer an easy home delivery service with very less human contact while making it easier for customers to pay virtually without any hassle. we also come up with new recipes every single week, so you don’t get to miss out on every unique desserts we have to offer.
            </p>
        </div>
    </div>
    
</body>
</html>



{% endblock %}